{{template "base" . }} {{define "title" }} About{{end}} {{define "content" }}

<section>
  <div class="container">
    <div class="row">
      <div class="col py-5">
        <h2 class="py-2">Acerca de Cristian</h2>
        <p>
          "Sé el cambio que deseas ver en el mundo", una profunda reflexión de
          Mahatma Gandhi, nos invita a una transformación interna como preludio
          indispensable para cualquier cambio significativo en nuestro entorno.
          Esta frase no es solo un llamado a la acción, sino una filosofía de
          vida que subraya la responsabilidad individual. Nos recuerda que no
          podemos esperar que el mundo mejore si nosotros mismos no estamos
          dispuestos a encarnar los valores y principios que anhelamos ver
          florecer, ya sea la paz, la justicia o la compasión. La verdadera
          revolución, según Gandhi, comienza en el corazón y la mente de cada
          persona, irradiando luego hacia la sociedad.
        </p>
        <p>
          "El secreto de la salud para la mente y el cuerpo es no lamentarse por
          el pasado, no preocuparse por el futuro, sino vivir el momento
          presente con sabiduría y seriedad", una enseñanza atribuida a Buda,
          nos ofrece una guía esencial para encontrar la serenidad en la
          existencia. En una era dominada por la prisa y la ansiedad por lo que
          vendrá, o el arrepentimiento por lo que ya fue, esta frase nos ancla
          en el aquí y ahora. Subraya que la verdadera felicidad y el bienestar
          surgen de la plena conciencia y apreciación del instante, liberándonos
          de las cadenas de lo inmutable y lo incierto para enfocarnos en lo
          único que realmente podemos controlar: el presente.
        </p>
        <p>
          "La imaginación es más importante que el conocimiento", una célebre
          afirmación de Albert Einstein, resalta la supremacía del pensamiento
          creativo sobre la mera acumulación de datos. Aunque el conocimiento es
          fundamental para entender el mundo, la imaginación es la chispa que
          permite trascender lo conocido, innovar y resolver problemas de
          maneras nunca antes vistas. Es la capacidad de visualizar lo que aún
          no existe, de conectar ideas aparentemente dispares y de concebir
          nuevas realidades. Sin esta facultad, el conocimiento se convierte en
          un simple archivo de información, pero con ella, se transforma en la
          herramienta para moldear el futuro y expandir los límites de lo
          posible.
        </p>

        <ul class="py-3">
          <li>Facebook</li>
          <li>IG</li>
          <li>Youtube</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{{end}}
